target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ / Eclipse / VS Code ###
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/
bin/

### OS ###
.DS_Store

### Env ###
.env

### Logs ###
*.log
